.gradient-colors {
background-color: #fffaf8;
}
span {
  font-size: 14px;
  color: #1C0200;
}
h5 {
font:Roboto;
font-size: 18px;
color:#1C0200;
}
a {
font: Roboto;
font-size: 18px;
color: #BE4137;
}
ul.social-network
{
list-style: none;
padding: 0;
}
ul.social-network li
{
  display: inline;
  margin: 0;
  padding: 5px;
}
.fa-behance:hover {

  transform: translateY(-9px);
  transition: 0.5s ease-in-out;
}

.fa-linkedin:hover {

  transform: translateY(-9px);
  transition: 0.5s ease-in-out;
}
