<footer class="page-footer  gradient-colors pt-4">
  <div class="container-fluid">

    <div class="row d-flex">
      <div class="col-md-3  text-center ">
        <h5>EMPRESA</h5>
        <a href="">Projeto</a>
        <br>
        <a href="">Equipe</a>
      </div>
      <div class="col-md-3 text-center">
        <h5>COMUNIDADE</h5>
        <a href="">Blog</a><br>
        <a href="">Histórias de Sucesso</a>
      </div>
      <div class="col-md-3 text-center">
        <h5>AJUDA</h5>
        <a href="">FAQ</a><br>
        <a href="">Termo de Privacidade</a>
      </div>
      <div class="col-md-3 text-center">
        <h5>ENTRE EM CONTATO</h5>
        <a href="" class="text-center">Contato</a>
        <div class="d-flex justify-content-center">


          <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-behance-square ml-3 " aria-hidden="true"></i></a>
        </div>




      </div>
    </div>
  </div>
  <div class="footer-copyright gradient-colors text-center py-3 font-weight-bold m-2">
    <span class="">Copyright © diversiFica 2022 - Todos os direitos reservados</span>
  </div>
</footer>
