<footer class="page-footer pt-4 gradient-colors">
  <div class="container-fluid  ">

    <div class="row d-flex ">
      <div class="col-md-3  text-center ">
        <h5>EMPRESA</h5>
        <a href="">Projeto</a>
        <br>
        <a routerLink="/sobre">Equipe</a>
      </div>
      <div class="col-md-3 text-center">
        <h5>COMUNIDADE</h5>
        <a href="https://diversificageneration.blogspot.com/">Blog</a><br>
        <a href="https://diversificageneration.blogspot.com/p/historias-de-sucesso.html">Histórias de Sucesso</a>
      </div>
      <div class="col-md-3 text-center">
        <h5>AJUDA</h5>
        <a href="https://diversificageneration.blogspot.com/p/faq.html">FAQ</a><br>
        <a routerLink="/termo">Termo de Privacidade</a>
      </div>
      <div class="col-md-3 text-center">
        <h5>ENTRE EM CONTATO</h5>
        <a href="" class="text-center">Contato</a>
        <div class="d-flex justify-content-center">


          <a href=""><i class="fa fa-linkedin  fa-linkedin-square mr-2" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-behance  fa-behance-square  " aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 font-weight-bold m-2">
    <span class="">Copyright © diversiFica 2022 - Todos os direitos reservados</span>
  </div>
</footer>
