<main class="container-fluid gradient-colors d-flex flex-column justify-content-center align-items-center">
  <img id="logo" src="../../assets/imgs/ico/pp.ico" alt="logo da diversiFica">
  <div id="fundo" class="row bg-white d-flex justify-content-center align-items-center">
    <section class="col-md-6 d-flex flex-column align-items-center">
      <div class="row d-flex flex-column align-items-center">
        <h1 id="title" class="mb-4 mt-4">Contate-nos</h1>
        <div class="col-md-6 d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/bruno-kyo/" target="_blank">
            <img src="https://github.com/BruRaptor.png" alt="Foto Bruno">
          </a>
          <a href="https://www.linkedin.com/in/catarinarinaldi/" target="_blank">
            <img src="https://github.com/catarinaldi.png" alt="Foto Catarina">
          </a>
          <a href="https://www.linkedin.com/in/igor-miramisawa-de-souza-633259221/" target="_blank">
            <img src="https://github.com/IgorMiramisawa.png" alt="Foto Igor">
          </a>
          <a href="https://www.linkedin.com/in/sarahnani/" target="_blank">
            <img src="https://github.com/sarahnani.png" alt="Foto Sarah">
          </a>
          <a href="https://www.linkedin.com/in/thiago-batista-da-graca/"target="_blank">
            <img src="https://github.com/teey-tech.png" alt="Foto Thiago">
          </a>
        </div>
      </div>
    </section>
    <section class="container p-4">
      <p id="texto-email">ou se quiser, pode enviar um e-mail pra gente:</p>
      <div class="col-md-12 d-flex px-0">
        <div class="col-md-5 d-flex flex-column justify-content-between p-0 pr-2">
          <input class="rounded" type="text" placeholder="Digite seu nome">
          <input class="rounded" type="email" placeholder="Digite seu e-mail">
        </div>
        <div class="col-md-7 d-flex p-0">
          <textarea class="rounded" name="mensagem" id="mensagem" cols="100%" rows="4" placeholder="Digite sua mensagem"></textarea>
        </div>
      </div>
      <button class="m-3 mb-0 py-2 px-5 float-right rounded">Enviar</button>
    </section>
  </div>
</main>


<!-- <img class="img-fluid" src="https://github.com/BruRaptor.png" alt="Foto Bruno">
<img class="img-fluid" src="https://github.com/catarinaldi.png" alt="Foto Catarina">
<img class="img-fluid" src="https://github.com/IgorMiramisawa.png" alt="Foto Igor">
<img class="img-fluid" src="https://github.com/sarahnani.png" alt="Foto Sarah">
<img class="img-fluid" src="https://github.com/teey-tech.png" alt="Foto Thiago"> -->

<!-- <input type="text" placeholder="Digite seu Nome">
<input type="email" placeholder="Digite seu -email">
<textarea name="mensagem" id="mensagem" cols="70" rows="7"></textarea>
<button>Enviar</button> -->
