<div class="row d-flex justify-content-center text-center">

    <div class="col-md-4 p-4 d-flex flex-column">
        <a href="https://www.linkedin.com/in/bruno-kyo/" target="_blank"><img id="bruno" src="https://i.imgur.com/yQY0aGO.png" class="mb-2 img-fluid" alt="Avatar Bruno com filtro"></a>
        <p class="p-2 font-weight-bold">Bruno Ribeiro</p>
        <p class="descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus omnis numquam rem facilis excepturi maiores atque, voluptatibus blanditiis et quasi officiis quidem quae quisquam eos natus molestiae accusamus earum nam.</p>

        <div class="block row justify-content-center">
            <a href="https://www.linkedin.com/in/bruno-kyo/" target="_blank"><i class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
        </div>

    </div>
    
    <div class="col-md-4 p-4 d-flex flex-column">
        <a href="https://www.linkedin.com/in/catarinarinaldi/" target="_blank"><img id="catarina" src="https://i.imgur.com/oOIt1QW.png" class="mb-2 img-fluid" alt="Avatar Catarina com filtro"></a>
        <p class="p-2 font-weight-bold">Catarina Rinaldi</p>
        <p class="descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus omnis numquam rem facilis excepturi maiores atque, voluptatibus blanditiis et quasi officiis quidem quae quisquam eos natus molestiae accusamus earum nam.</p>

        <div class="block row justify-content-center">
            <a href="https://www.linkedin.com/in/catarinarinaldi/" target="_blank"><i class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
        </div>

    </div>
    
    <div class="col-md-4 p-4 d-flex flex-column">
        <a href="https://www.linkedin.com/in/igor-miramisawa-de-souza-633259221/" target="_blank"><img id="igor" src="https://i.imgur.com/RxOVRBr.png" class="mb-2 img-fluid" alt="Avatar Igor com filtro"></a>
        <p class="p-2 font-weight-bold">Igor Miramisawa</p>
        <p class="descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus omnis numquam rem facilis excepturi maiores atque, voluptatibus blanditiis et quasi officiis quidem quae quisquam eos natus molestiae accusamus earum nam.</p>

        <div class="block row justify-content-center">
            <a href="https://www.linkedin.com/in/igor-miramisawa-de-souza-633259221/" target="_blank"><i class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
        </div>

    </div>
    

    <div class="row d-flex justify-content-center text-center">

    <div class="col-md-6 p-4 d-flex flex-column">
        <a href="https://www.linkedin.com/in/sarahnani/" target="_blank"><img id="sarah" src="https://i.imgur.com/cjgeAYq.png" class="mb-2 img-fluid" alt="Avatar Sarah com filtro"></a>
        <p class="p-2 font-weight-bold">Sarah Nani</p>
        <p class="descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus omnis numquam rem facilis excepturi maiores atque, voluptatibus blanditiis et quasi officiis quidem quae quisquam eos natus molestiae accusamus earum nam.</p>

        <div class="block row justify-content-center">
            <a href="https://www.linkedin.com/in/sarahnani/" target="_blank"><i class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
        </div>

    </div>
    
    <div class="col-md-6 p-4 d-flex flex-column">
        <a href="https://www.linkedin.com/in/thiago-batista-da-graca/" target="_blank"><img id="thiago" src="https://i.imgur.com/RUOd161.png" class="mb-2 img-fluid" alt="Avatar Thiago com filtro"></a>
        <p class="p-2 font-weight-bold">Thiago Batista</p>
        <p class="descricao">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus omnis numquam rem facilis excepturi maiores atque, voluptatibus blanditiis et quasi officiis quidem quae quisquam eos natus molestiae accusamus earum nam.</p>

        <div class="block row justify-content-center">
            <a href="https://www.linkedin.com/in/thiago-batista-da-graca/" target="_blank"><i class="fa fa-linkedin-square px-2" aria-hidden="true"></i></a>
        </div>

    </div>

</div>
