.border-configuration {
  box-shadow: 0px 2px 1px #be4137;
  border-radius: 20px;
}

.opacity {
  filter: opacity(0.3);
}

.font-color {
  color: #be4137;
}

/* [hidden] {
  display: none !important;
} */
