<main class="my-5">
  <section>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1>VAGAS</h1>
      </div>
    </div>

    <div class="container my-4">
      <div class="row align-content-center">
        <div class="col-md-12">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="card border-configuration">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="card-title">Juniors LTDA</h5>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                      <img
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas Negras."
                        class="mt-0 mr-2"
                        src="../../assets/imgs/ico/negro.svg"
                        alt=""
                        width="25px"
                      />

                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas com deficiência Visual."
                        src="../../assets/imgs/ico/visual.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas LGBTQIA+."
                        src="../../assets/imgs/ico/lgbqia.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas Trans."
                        src="../../assets/imgs/ico/trans.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas com deficiência Auditiva."
                        src="../../assets/imgs/ico/auditivo.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas Indígenas."
                        src="../../assets/imgs/ico/cocar.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas com deficiência intelectual."
                        src="../../assets/imgs/ico/intelectual.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa se adequa a pessoas com deficiência Fisica."
                        src="../../assets/imgs/ico/fisico.svg"
                        alt=""
                        width="25px"
                      />
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                      <i
                        class="fa fa-angle-down"
                        aria-hidden="true"
                        data-toggle="collapse"
                        href="#collapseExample"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                      ></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="card-text">Programador Full-stack</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" id="collapseExample">
                <div class="card card-body border-configuration mt-2">
                  <div class="row">
                    <div class="col-md-12">
                      <span class="font-weight-bold">Salario:</span>
                      <span> De R$ 6.001,00git</span>
                    </div>
                    <div class="col-md-12 mt-2">
                      <span class="font-weight-bold">Cargo:</span>
                      <span> Lorem ipsum</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mt-2">
                      <span class="text-center font-weight-bold">
                        Descrição:
                      </span>
                      <span>
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Pariatur quidem a ipsum molestiae, repellendus
                        similique sint iure alias ad asperiores minima impedit.
                        Omnis praesentium beatae aspernatur eos nam, non fugit.
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mt-2">
                      <span class="text-center font-weight-bold"
                        >Benefícios</span
                      >
                      <span class="text-center">
                        Assistência Médica / Medicina em grupo, Assistência
                        Odontológica, Celular fornecido pela empresa, Convênio
                        com Farmácia, Estacionamento, Participação nos lucros,
                        Seguro de Vida em Grupo, Tíquete Refeição, Vale
                        Transporte
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
