<main class="my-5">
  <section>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1 class="font-color">VAGAS</h1>
      </div>
    </div>

    <div class="container my-4 font-color">
      <div class="row align-content-center">
        <div class="col-md-12">
          <div class="row justify-content-center">
            <div class="col-md-10 my-3" *ngFor="let vagas of listaVagas">
              <div class="card border-configuration">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="card-title">
                        {{ vagas.usuario.nomeUsuario }}
                      </h5>
                    </div>
                    <div class="col-md-5 d-flex justify-content-end">
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa não tem suporte a
                      pessoas Negras"
                        src="../../assets/imgs/ico/negro.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa não adequa a pessoas com deficiência Visual"
                        src="../../assets/imgs/ico/visual.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa Não tem suporte a pessoas LGBTQIA+"
                        src="../../assets/imgs/ico/lgbqia.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa não tem suporte a pessoas Trans"
                        src="../../assets/imgs/ico/trans.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa não tem suporte a pessoas com deficiência Auditiva"
                        src="../../assets/imgs/ico/auditivo.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa Não tem suporte a pessoas Indígenas"
                        src="../../assets/imgs/ico/cocar.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa Não tem suporte a pessoas com deficiência intelectual"
                        src="../../assets/imgs/ico/intelectual.svg"
                        alt=""
                        width="25px"
                      />
                      <img
                        class="mt-0 mr-4 opacity"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Empresa não tem suporte a pessoas com deficiência Fisica"
                        src="../../assets/imgs/ico/fisico.svg"
                        alt=""
                        width="25px"
                      />
                    </div>
                    <div
                      class="col-md-1 d-flex justify-content-end"
                      *ngIf="auth.logado()"
                    >
                      <i
                        class="fa fa-angle-down"
                        aria-hidden="true"
                        data-toggle="collapse"
                        attr.href="#collapse-{{ vagas.idVaga }}"
                        role="button"
                        aria-expanded="false"
                        attr.aria-controls="collapse-{{ vagas.idVaga }}"
                      ></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="card-text">{{ vagas.nomeVaga }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" id="collapse-{{ vagas.idVaga }}">
                <div class="card card-body border-configuration mt-2">
                  <div class="row">
                    <div class="col-md-12">
                      <span class="font-weight-bold">Salario:</span>
                      <span> {{ vagas.salario }}}</span>
                    </div>
                    <div class="col-md-12 mt-2">
                      <span class="font-weight-bold">Cargo:</span>
                      <span> {{ vagas.cargo }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mt-2">
                      <span class="text-center font-weight-bold">
                        Descrição:
                      </span>
                      <span>
                        {{ vagas.descricao }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mt-2">
                      <span class="text-center font-weight-bold"
                        >Benefícios</span
                      >
                      <span class="text-center">
                        {{ vagas.beneficios }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
