<!-- Pessoal Fisica -->
<div
  class="container my-5 d-flex justify-content-between"
  *ngIf="authService.pessoaFisica()"
>
  <!-- Foto e Nome -->
  <div class="row">
    <div class="mt-4 col-md-12 text-center">
      <img
        src="{{ foto }}"
        alt="imagem do usuário"
        width="150px"
        height="150px"
        class="img-fluid rounded-circle borda-perfil"
      />
      <p class="font-weight-bold">{{ nome }}</p>

      <!-- Icones de inclusão Pessoa fisica -->
      <div class="d-flex justify-content-center mb-2">
        <img
          *ngIf="pcdFisica === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa com deficiência física"f          class="mt-0 mr-2"
          src="../../assets/imgs/ico/fisico.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdFisica === 'Não'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa sem deficiência física"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/fisico.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa com deficiência auditiva"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/auditivo.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual === 'Não'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa sem deficiência auditiva"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/auditivo.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="indigena === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa indígena"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/cocar.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="indigena !== 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa não indígena"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/cocar.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdintelectual === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa com deficiência intelectual"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/intelectual.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdintelectual !== 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa sem deficiência intelectual"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/intelectual.svg"
          alt=""
          width="25px"
        />
      </div>
      <div>
        <img
          *ngIf="negro === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa negra"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/negro.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="negro !== 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa não negra"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/negro.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual === 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa com deficiência visual"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/visual.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual !== 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa sem deficiência visual"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/visual.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoLgbtqia === 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa LGBQIA+"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/lgbqia.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoLgbtqia !== 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa não LGBQIA+"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/lgbqia.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoTrans === 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa trans"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/trans.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoTrans !== 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Pessoa cis"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/trans.svg"
          alt=""
          width="25px"
        />
        <div class="mt-5">
          <button
            class="btn btn-outline-success nova-cor rounded-pill mt-3"
            [routerLink]="['/usuario-edit', idUsuario]"
          >
            Atualizar Perfil
          </button>
        </div>
      </div>
      <!-- Acaba os icones de inclusão Pessoa fisica -->

    </div>
  </div>

  <!-- Perfil Descrição e Experiências -->
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-10">
        <div class="card borda-div p-0">
          <p class="font-weight-bold textos p-2 pl-4">
            {{ nome }}, 31 anos, desenvolvedore
          </p>
          <p class="pl-4">Desenvolvedore FullStack</p>
        </div>
      </div>
    </div>
    <div class="card mt-4 col-md-10 borda-div text-muted">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h5 class="card-title">
              Experiências Profissionais (Em construção)
            </h5>
          </div>
          <div class="col-md-2 d-flex justify-content-end">
            <i
              class="fa fa-angle-down"
              aria-hidden="true"
              data-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            ></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="card-text text-muted">Empresa 1:</p>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Salário: </span>
            <span>R$ 3.500,00</span>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Cargo: </span>
            <span>Desenvolvedore Pleno</span>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body borda-div mt-3 col-md-10 text-muted">
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="card-text">Empresa 2:</p>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Salário: </span>
            <span>R$ 2.600,00</span>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Cargo: </span>
            <span>Desenvolvedore Júnior</span>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="card-text">Empresa 3:</p>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Salário: </span>
            <span>R$ 1.500,00</span>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Cargo: </span>
            <span>Estágiarie</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pessoal Juridica -->
<div
  class="container my-5 d-flex justify-content-between"
  *ngIf="!authService.pessoaFisica()"
>
  <div class="row justify-content-center">
    <div class="mt-4 col-md-12 text-center">
      <img
        src="{{ foto }}"
        alt="imagem do usuário"
        width="150px"
        height="150px"
        class="img-fluid rounded-circle borda-perfil"
      />
      <p class="font-weight-bold mt-3">{{ nome }}</p>

      <!-- Rank de estrela -->
      <div>
        <img
          class="mt-0 mr-2 mb-4"
          src="../../assets/imgs/ico/estrela.svg"
          alt=""
          width="100px"
        />
        <!-- <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
        <div class="card">
        <pre class="card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b> </pre>
        </div> -->
      </div>

      <!-- Icones de inclusão -->
      <div class="d-flex justify-content-center mb-2">
        <img
          *ngIf="pcdFisica === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas com deficiência física"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/fisico.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdFisica === 'Não'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas com deficiência física"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/fisico.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas com deficiência auditiva"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/auditivo.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual === 'Não'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas com deficiência auditiva"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/auditivo.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="indigena === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas indígenas"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/cocar.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="indigena !== 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas indígenas"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/cocar.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdintelectual === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas com deficiência intelectual"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/intelectual.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdintelectual !== 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas com deficiência intelectual"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/intelectual.svg"
          alt=""
          width="25px"
        />
      </div>
      <div>
        <img
          *ngIf="negro === 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas negras"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/negro.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="negro !== 'Sim'"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas negras"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/negro.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual === 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas com deficiência visual"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/visual.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="pcdVisual !== 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas com deficiência visual"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/visual.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoLgbtqia === 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas LGBQIA+"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/lgbqia.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoLgbtqia !== 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas LGBQIA+"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/lgbqia.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoTrans === 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa se adequa a pessoas trans"
          class="mt-0 mr-2"
          src="../../assets/imgs/ico/trans.svg"
          alt=""
          width="25px"
        />

        <img
          *ngIf="generoTrans !== 'Sim'"
          class="mt-0 mr-2"
          data-toggle="tooltip"
          data-placement="top"
          title="Empresa não se adequa a pessoas trans"
          class="mt-0 mr-2 opacity"
          src="../../assets/imgs/ico/trans.svg"
          alt=""
          width="25px"
        />

        <div class="mt-5">
          <button
            class="btn rounded-pill mt-3 borda-entrar text-white font-weight-bold"
            type="button"
          >
            <span class="texto-entrar m-4">AVALIAR</span>
          </button>
          <button
            class="btn btn-outline-success nova-cor rounded-pill mt-3"
            [routerLink]="['/usuario-edit', idUsuario]"
          >
            Atualizar Perfil
          </button>
        </div>
      </div>
      <!-- Acaba os icones de inclusão -->
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-10">
        <div class="card borda-div p-0">
          <p class="font-weight-bold textos p-2 pl-4">
            {{ nome }}, Prestadora de serviços de tecnologia.
          </p>
          <p class="pl-4">Localizado na região leste de São Paulo</p>
        </div>
      </div>
    </div>

    <!-- Vagas Abertas -->
    <div class="row mt-4">
      <div class="col-md-10">
        <div class="card borda-div p-0 mb-2">
          <div>
            <h5 class="font-weight-bold textos pt-2 pl-4">Vagas Abertas</h5>
          </div>

          <div
            class="d-flex flex-wrap ponteiro align-content-center justify-content-between"
            *ngFor="let vaga of usuario.vaga"
          >
            <div class="col-md-4 mt-2">
              <span class="textos-vagas">{{ vaga.nomeVaga }}</span>
            </div>

            <div class="pb-2 col-md-8 mt-2">
              <!-- Icones de inclusão de Vagas -->
              <span>
                <img
                  *ngIf="vaga.etnia === 'negro'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas Negras."
                  src="../../assets/imgs/ico/negro.svg"
                  alt="Empresa se adequa a pessoas Negras."
                  width="25px"
                />
                <img
                  *ngIf="vaga.etnia !== 'negro'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas Negras."
                  src="../../assets/imgs/ico/negro.svg"
                  alt="Empresa não se adequa a pessoas Negras."
                  width="25px"
                />
                <img
                  *ngIf="vaga.etnia === 'indigena'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas Indígenas."
                  src="../../assets/imgs/ico/cocar.svg"
                  alt="Empresa se adequa a pessoas Indígenas."
                  width="25px"
                />
                <img
                  *ngIf="vaga.etnia !== 'indigena'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas Indígenas."
                  src="../../assets/imgs/ico/cocar.svg"
                  alt="Empresa não se adequa a pessoas Indígenas."
                  width="25px"
                />
                <img
                  *ngIf="vaga.beneficios != ''"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{{ vaga.beneficios }}"
                  src="../../assets/imgs/ico/beneficios.svg"
                  alt="{{ vaga.beneficios }}"
                  width="25px"
                />
                <img
                  *ngIf="vaga.beneficios === ''"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não possui beneficios."
                  src="../../assets/imgs/ico/beneficios.svg"
                  alt="Empresa não possui beneficios."
                  width="25px"
                />
                <ng-container>
                  <img
                    *ngIf="vaga.salario != 0"
                    class="mt-0 mr-3"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ vaga.salario }}"
                    src="../../assets/imgs/ico/salario.svg"
                    alt="{{ vaga.salario }}"
                    width="25px"
                  />
                  <img
                    *ngIf="vaga.salario === 0"
                    class="mt-0 mr-3 opacity"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Empresa não possui Salario."
                    src="../../assets/imgs/ico/salario.svg"
                    alt="Empresa não possui Salario."
                    width="25px"
                  />
                </ng-container>
                <img
                  *ngIf="vaga.descricao != ''"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{{ vaga.descricao }}."
                  src="../../assets/imgs/ico/descricao.svg"
                  alt="{{ vaga.descricao }}"
                  width="25px"
                />
                <img
                  *ngIf="vaga.descricao === ''"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não possui Descrição."
                  src="../../assets/imgs/ico/descricao.svg"
                  alt="Empresa não possui Descrição."
                  width="25px"
                />
                <img
                  *ngIf="vaga.trans === 'Sim'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas Trans."
                  src="../../assets/imgs/ico/trans.svg"
                  alt="Empresa se adequa a pessoas Trans."
                  width="25px"
                />
                <img
                  *ngIf="vaga.trans === 'Não'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas Trans."
                  src="../../assets/imgs/ico/trans.svg"
                  alt="Empresa não se adequa a pessoas Trans."
                  width="25px"
                />
                <img
                  *ngIf="vaga.lgbia === 'Sim'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas LGBIA+."
                  src="../../assets/imgs/ico/lgbqia.svg"
                  alt="Empresa se adequa a pessoas LGBIA+."
                  width="25px"
                />
                <img
                  *ngIf="vaga.lgbia === 'Não'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas LGBIA+."
                  src="../../assets/imgs/ico/lgbqia.svg"
                  alt="Empresa não se adequa a pessoas LGBIA+."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdVisual === 'Sim'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas com deficiência Visual."
                  src="../../assets/imgs/ico/visual.svg"
                  alt="Empresa se adequa a pessoas com deficiência Visual."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdVisual === 'Não'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas com deficiência Visual."
                  src="../../assets/imgs/ico/visual.svg"
                  alt="Empresa não se adequa a pessoas com deficiência Visual."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdAuditiva === 'Sim'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas com deficiência Auditiva."
                  src="../../assets/imgs/ico/auditivo.svg"
                  alt="Empresa se adequa a pessoas com deficiência Auditiva."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdAuditiva === 'Não'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas com deficiência Auditiva."
                  src="../../assets/imgs/ico/auditivo.svg"
                  alt="Empresa não se adequa a pessoas com deficiência Auditiva."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdIntelectual === 'Sim'"
                  class="mt-0 mr-3"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas com deficiência intelectual."
                  src="../../assets/imgs/ico/intelectual.svg"
                  alt="Empresa se adequa a pessoas com deficiência intelectual."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdIntelectual === 'Não'"
                  class="mt-0 mr-3 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas com deficiência intelectual."
                  src="../../assets/imgs/ico/intelectual.svg"
                  alt="Empresa não se adequa a pessoas com deficiência intelectual."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdFisica === 'Sim'"
                  class="mt-0 mr-4"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa se adequa a pessoas com deficiência Fisica."
                  src="../../assets/imgs/ico/fisico.svg"
                  alt="Empresa se adequa a pessoas com deficiência Fisica."
                  width="25px"
                />
                <img
                  *ngIf="vaga.pcdFisica === 'Não'"
                  class="mt-0 mr-4 opacity"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Empresa não se adequa a pessoas com deficiência Fisica."
                  src="../../assets/imgs/ico/fisico.svg"
                  alt="Empresa não se adequa a pessoas com deficiência Fisica."
                  width="25px"
                />
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card mt-2 col-md-10 borda-div text-muted">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h5 class="card-title">(EM CONSTRUÇÃO) Sobre Nós</h5>
          </div>

          <!-- <div class="col-md-2 d-flex justify-content-end">
            <i
              class="fa fa-angle-down"
              aria-hidden="true"
              data-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            ></i>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="card-text">
              Vamos muito além do ERP com um portfólio completo de sistemas e
              plataformas para gestão de empresas de 8 segmentos de mercado,
              serviços financeiros e soluções de business performance. Nos
              últimos cinco anos, investimos R$ 2 bilhões em pesquisa e
              desenvolvimento para atender as exigências dos nossos mais de 40
              mil clientes entre micro, pequenas, médias e grandes – de norte a
              sul do Brasil.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Precisamos decidir -->

    <!-- <div class="collapse" id="collapseExample">
      <div class="card card-body borda-div mt-3 col-md-10 text-muted">
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="card-text">Corporation 2</p>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Salario: </span>
            <span>R$ 2.600,00</span>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Cargo: </span>
            <span>Desenvolvedor Junior</span>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="card-text">Corporation 3</p>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Salario: </span>
            <span>R$ 1.500,00</span>
          </div>
          <div class="col-md-12 mt-3">
            <span class="font-weight-bold">Cargo: </span>
            <span>Estágiario</span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
