<nav class="navbar navbar-expand-lg nav-background">
  <a class="navbar-brand" routerLink="/inicio"
    ><img
      src="../../assets/imgs/menu/diversifica.svg"
      alt="diversiFica Logo"
      width="300"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav nav-positioning">
      <li class="nav-item active mr-4">
        <a class="nav-link font-color" routerLink="/inicio">HOME</a>
      </li>
      <li class="nav-item mr-4 ml-4">
        <a class="nav-link font-color" routerLink="/sobre">SOBRE</a>
      </li>
      <li class="nav-item mr-4 ml-4" *ngIf="!auth.logado()">
        <a class="nav-link font-color" routerLink="/vagas-pf">VAGAS</a>
      </li>
      <li class="nav-item mr-4 ml-4" *ngIf="auth.logado()">
        <a
          class="nav-link font-color"
          routerLink="/vagas-pf"
          *ngIf="auth.pessoaFisica()"
          >VAGAS</a
        >
        <a
          class="nav-link font-color"
          routerLink="/vagas-pj"
          *ngIf="!auth.pessoaFisica()"
          >MINHAS VAGAS</a
        >
      </li>
      <li class="nav-item mr-4 ml-4" *ngIf="auth.logado()">
        <a class="nav-link font-color" routerLink="/usuarios-pf">PERFIL</a>
      </li>
      <li class="nav-item mr-4 ml-4" *ngIf="auth.logado()">
        <a class="nav-link font-color sair-config" (click)="sair()">SAIR</a>
      </li>
      <li class="nav-item mr-4 ml-4" *ngIf="!auth.logado()">
        <a class="nav-link font-color" routerLink="/entrar">ENTRAR</a>
      </li>
      <li class="nav-item" *ngIf="!auth.logado()">
        <button
          class="btn btn-outline-success nova-cor rounded-pill"
          routerLink="/cadastrar"
          *ngIf="!auth.logado()"
        >
          CADASTRAR
        </button>
      </li>
    </ul>
  </div>
</nav>
