.nova-cor {
  color: #be4137 !important;
  border-color: #be4137 !important;
}
.nova-cor:hover {
  color: #be4137 !important;
  background-color: #fffaf8 !important;
}

.font-color {
  color: #be4137;
}

.nav-background {
  background: #fffaf8;
}

.sair-config {
  cursor: pointer;
}
