main {
  height: 100vh;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
}

select{
  display: flex;
  width: 9rem;
}

h2 {
  font-size: medium;
}

#check input{
  width: 15px;
  height: 15px;
  margin: 10px;
}