<div class="back-entrar bg-digital">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center my-5">
          <div class="col-md-4">
            <div class="card mb-3 borda-div">
              <div class="row text-center d-flex justify-content-center">
                <div class="col-md-8">
                  <div class="card-body text-center">
                    <h4 class="mt-5 mb-5">Login</h4>
                  </div>

                  <!-- Formulario -->
                  <form class="mb-5">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control borda-input"
                        id="email"
                        name="email"
                        placeholder="E-mail"
                        [(ngModel)]="usuarioLogin.email"
                        aria-describedby="email"
                      />
                    </div>

                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control borda-input"
                        id="senha"
                        name="senha"
                        placeholder="Senha"
                        [(ngModel)]="usuarioLogin.senha"
                      />
                    </div>

                    <div class="mt-5 text-center textos">
                      <span
                        >Esqueceu sua senha?<a class="texto-entrar ponteiro">
                          Clique aqui!</a
                        ></span
                      >
                    </div>

                    <div class="mt-4 mb-3">
                      <button
                        class="btn rounded-pill borda-entrar text-white font-weight-bold"
                        type="button"
                      >
                        <span class="texto-entrar m-4" (click)="entrar()">Entrar</span>
                      </button>
                    </div>

                    <div class="text-center textos mt-2 mb-4">
                      <span
                        >Ainda não tem uma conta?<a
                          class="texto-entrar ponteiro"
                        >
                          Cadastre-se!</a
                        ></span
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
