<div class="back-entrar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center my-5">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-6 gradient-colors"></div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title text-center">DiversiFica</h5>
                    <div class="text-center">
                      <img
                        src="../../assets/imgs/ico/pp.ico"
                        style="width: 50px"
                        alt="logo"
                      />
                      <h4 class="mt-1 mb-3">Entrar</h4>
                    </div>
                    <form>
                      <div class="form-group">
                        <label for="email">E-mail</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Digite seu E-mail"
                          aria-describedby="email"
                        />
                        <small id="emailHelp" class="form-text text-muted"
                          >Nós nunca iremos compartilhar seu endereço de
                          e-mail.</small
                        >
                      </div>
                      <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input
                          type="password"
                          class="form-control"
                          id="senha"
                          name="senha"
                          placeholder="Digite sua senha"
                        />
                      </div>
                      <div class="d-grid gap-2 mx-auto mt-4">
                        <button
                          class="btn btn-block gradient-colors text-white font-weight-bold"
                          type="button"
                        >
                          Entrar
                        </button>
                      </div>
                    </form>
                    <hr class="my-4" />
                    <div class="text-center font-weight-bold">
                      <a class="text-muted ponteiro">Esqueceu sua senha?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
