.row{
    background-image: url(../../../../assets/imgs/bgs/bgError.svg);
    background-size: cover;
    background-position: 100% 40%;
    background-repeat: no-repeat;
}

.titulo{
    color: #BE4137;
    margin-top: 2rem;
}

.subtitulo{
    color: #1C0200;
}

.texto{
    color: #1C0200;
    margin: 1rem;
}

.link{
    color: #BE4137;
}

.imagem{
    height: 20vw;
    width: 20vw;
    max-width: 40vw;
    max-height: 40vw;
}