<div class="row d-flex justify-content-center text-center ml-5 mr-5">

    <div class="col-md-5">

        <h1 class="titulo">
            Desculpa!
        </h1>

        <h3 class="subtitulo">
            Parece que aconteceu um erro!
        </h3>

        <p class="texto">
            <a class="link" href="#inicio">Clique aqui</a> se quiser voltar para a Página Principal
        </p>

        <img class="imagem" src="../../../../assets/imgs/avatars/avatar404.png" alt="Avatar de rosto e torso de pessoa chateada">

    </div>

</div>