<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="diversiFica é um projeto fictício para a finalização do Bootcamp de desenvolvimento web da Generation Brasil.">
    <title>diversiFica - Projeto</title>
</head>

<div class="row d-flex justify-content-center text-center ml-5 mr-5">


    <div class="col-md-10">
        <h1 class="projeto">PROJETO</h1>
    </div>

</div>

</html>