<div class="row d-flex justify-content-center ml-5 mr-5">

  <div class="bloco col-md-8">

      <h1 class="titulo">
          PROJETO
      </h1>

      <h3 class="subtitulo">
        O que é o projeto?
      </h3>

      <p class="texto">
        O <strong>diversiFica</strong> é uma empresa fictícia feita para a finalização do Bootcamp de Desenvolvimento Web da <strong>Generation Brasil</strong>. Ela foi elaborada a partir do <strong>oitavo Objetivo de Desenvolvimento Sustentável</strong> da <strong>ONU</strong>, que propõe promover o <strong>trabalho decente</strong> e o crescimento econômico.
      </p>

      <p class="texto">
        O projeto é um <strong>site de busca de vagas de emprego</strong> que sejam <strong>seguras, diversas e inclusivas</strong>, principalmente para o público <strong>LGBTQIA+</strong> e/ou <strong>pessoas com deficiência(s).</strong>
      </p>

  </div>

  <div class="col-md-8">
      <img class="imagem" src="../../assets/imgs/diversidade.svg" alt="Imagem de diversidade, equidade e inclusão">
  </div>

  <div class="bloco col-md-8">
      <h3 class="subtitulo">
        Por que o projeto existe?
      </h3>

      <p class="texto">
        O <strong>diversiFica</strong> existe para trazer um local <strong>seguro</strong> para encontrar <strong>empregos mais justos</strong>, com <strong>diversidade, equidade e inclusão</strong>.
      </p>

      <p class="texto">
        Segundo a ONU, até <strong>2030</strong>, precisamos “Alcançar o <strong>emprego pleno</strong> e produtivo e <strong>trabalho decente</strong> para todas as mulheres e homens, inclusive para os <strong>jovens</strong> e as <strong>pessoas com deficiência</strong>, e <strong>remuneração igual</strong> para trabalho de igual valor”.
      </p>

      <p class="texto">
        Mesmo com outras plataformas e sites de busca de emprego já existentes, acreditamos que há um <strong>mercado muito amplo para esta proposta</strong>.
      </p>
    </div>
    
    <div class="bloco col-md-8">
      <h3 class="subtitulo">
        Ferramentas Utilizadas para a Construção do Projeto
      </h3>

      <p class="texto">
        <strong>Metodologia ágil:</strong> SCRUM, Zoom e Bloco de Notas
      </p>

      <p class="texto">
        <strong>Back-end:</strong> Java, MySQL, Spring Boot, Postman e Heroku
      </p>

      <p class="texto">
        <strong>Front-end:</strong> HTML, CSS, Bootstrap, Angular e Netlify
      </p>
    </div>

    <div class="bloco col-md-8">
      <h3 class="subtitulo">
        Implementações futuras
      </h3>

      <p class="texto">
        Futuramente, gostaríamos de trazer uma <strong>acessibilidade</strong> maior para o site, com <strong>LIBRAS</strong>, navegação facilitada pelo teclado, leitor de texto, comando de voz, ajuste de <strong>cor, contraste e tamanho</strong>, entre outras melhorias.
      </p>

      <p class="texto">
        Também desejamos transformar o site em <strong>aplicativo</strong> e ampliar suas <strong>funcionalidades</strong>, criando uma sessão para <strong>cursos com certificação</strong>, tanto para pessoas físicas, como para empresas, tendo, dessa forma, maior <strong>controle</strong> sobre a <strong>veracidade das informações</strong> fornecidas por nosses usuáries, e <strong>disseminando informações</strong> que nos auxiliam em sermos uma <strong>sociedade mais inclusiva</strong>.
      </p>

      <p class="texto">
        Outras implementações também serão necessárias, como aumentar a <strong>segurança</strong> e melhorar a <strong>experiência do usuário</strong>.
      </p>

  </div>

  <a class="link" routerLink="/sobre">Conheça também a equipe responsável por esse lindo projeto, <strong>clicando aqui</strong></a>

</div>