<div class="row d-flex justify-content-center ml-5 mr-5">

  <div class="col-md-8">

      <h1 class="titulo">
          PROJETO
      </h1>

      <h3 class="subtitulo">
        O que é o projeto?
      </h3>

      <p class="texto">
        O diversiFica é uma empresa fictícia feita para a finalização do Bootcamp de Desenvolvimento Web da Generation Brasil. Ela foi elaborada a partir do oitavo Objetivo de Desenvolvimento Sustentável da ONU, que propõe promover o trabalho decente e o crescimento econômico.
      </p>

      <p class="texto">
        O projeto é um site de busca de vagas de emprego que sejam seguras, diversas e inclusivas, principalmente para o público LGBTQIA+ e/ou pessoas com deficiência(s).
      </p>

  </div>

  <div class="col-md-8">
      <img class="imagem" src="../../assets/imgs/diversidade.svg" alt="Imagem de diversidade, equidade e inclusão">
  </div>

  <div class="col-md-8">
      <h3 class="subtitulo">
        Por que o projeto existe?
      </h3>

      <p class="texto">
        O diversiFica existe para trazer um local seguro para encontrar empregos mais justos, com diversidade, equidade e inclusão. 
      </p>

      <p class="texto">
        Segundo a ONU, até 2030, precisamos “Alcançar o emprego pleno e produtivo e trabalho decente para todas as mulheres e homens, inclusive para os jovens e as pessoas com deficiência, e remuneração igual para trabalho de igual valor”.
      </p>

      <p class="texto">
        Mesmo com outras plataformas e sites de busca de emprego já existentes, acreditamos que há um mercado muito amplo para esta proposta.
      </p>
    </div>
    
    <div class="col-md-8">
      <h3 class="subtitulo">
        Ferramentas Utilizadas para a Construção do Projeto
      </h3>

      <p class="texto">
        Metodologia ágil: SCRUM, Zoom e Bloco de Notas
      </p>

      <p class="texto">
        Back-end: Java, MySQL, Spring Boot, Postman e Heroku
      </p>

      <p class="texto">
        Front-end: HTML, CSS, Bootstrap, Angular e Netlify
      </p>
    </div>

    <div class="col-md-8">
      <h3 class="subtitulo">
        Implementações futuras
      </h3>

      <p class="texto">
        Futuramente, gostaríamos de trazer uma acessibilidade maior para o site, com LIBRAS, navegação facilitada pelo teclado, leitor de texto, comando de voz, ajuste de cor, contraste e tamanho, entre outras melhorias.
      </p>

      <p class="texto">
        Também desejamos transformar o site em aplicativo e ampliar suas funcionalidades, criando uma sessão para cursos com certificação, tanto para pessoas físicas, como para empresas, tendo, dessa forma, maior controle sobre a veracidade das informações fornecidas por nosses usuáries, e disseminando informações que nos auxiliam em sermos uma sociedade mais inclusiva.
      </p>

      <p class="texto">
        Outras implementações também serão necessárias, como aumentar a segurança e melhorar a experiência do usuário.
      </p>

  </div>

  <a class="link" href="#sobre">Conheça também a equipe responsável por esse lindo projeto, clicando aqui</a>

</div>