.container{
    width: 20rem;
    height: auto;
    margin-top: 0.5rem;
}

.container img{
    width: 100%;
    height: auto;
}

.conteudo{
    color: #1C0200;
    line-height: 2.3rem;
    margin-bottom: 4rem;
}

.link{
    color: #BE4137;
}

.link:hover{
    color: #601009;
}