<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="diversiFica é um projeto fictício para a finalização do Bootcamp de desenvolvimento web da Generation Brasil.">
    <title>diversiFica - Home</title>
</head>

<div class="row d-flex justify-content-center text-center ml-5 mr-5">

    <div class="container col-md-11 p-5 flex-column justify-content-center">

        <img class="logo" src="../../assets/imgs/logo/diversiFica.svg" alt="logo diversiFica">

    </div>

    <div class="conteudo col-md-9 justify-content-center">

        <p>
            O diversiFica é uma empresa de busca de oportunidades de empregos mais justos, com acessibilidade adequada, equidade e integridade para pessoas com deficiência(s) e/ou pessoas LGBTQIA+
        </p>

        <p>
            <a class="link" href="#sobre">Clique aqui e Saiba Mais!</a>
        </p>

    </div>

</div>

</html>
